<div class="modal fade" id="quick-pay-modal" ng-controller="QuickPayDialogController as vm" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header row">
                <h3 class="title col-md-11">Quick Pay</h3>
                <button type="button" class="close  col-md-1" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group text-center ">
                        <a href="#" class="btn btn-primary">Pay for Cable</a>
                        <a href="#" class="btn btn-info">Pay for Broadband</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>