<div class="modal fade" id="sign-in-dialog" ng-controller="signInDialogController as vm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header row">
                <h3 class="title col-md-11">Sign In</h3>
                <button type="button" class="close  col-md-1" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                    <div class="row">
                            <ul class="nav nav-pills nav-pills-rose">
                              <li class="nav-item active"><a class="nav-link active show" href="#pill1" data-toggle="tab">Cable Tv</a></li>
                              <li class="nav-item"><a class="nav-link " target="_blank" href="http://login.dlgtpl.net/" >Broadband</a></li>
                            </ul>
                            <div class="tab-content tab-space">
                                <div class="tab-pane active show" id="pill1">
                                    <div class="row">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="exampleRadios" ng-model="vm.inquiryForm.type" value="LCO" checked=""> LCO 
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check" style="display:inline-block;">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="exampleRadios" ng-model="vm.inquiryForm.type" value="Subscriber " > Subscriber 
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
</div>